@model Song?
@{
    string queuePosition = Model?.QueuePosition.ToString() ?? "placeholder-queueposition";
    string videoId = Model?.VideoId ?? "placeholder-videoid";
}

<div id="queueItemContainer" data-author="@(Model?.Artist ?? "placeholder-author")" data-title="@(Model?.Name ?? "placeholder-songname")" data-queueposition="@queuePosition" data-videoid="@(Model?.VideoId ?? "placeholder-videoId")" data-url="@(Model != null ? Model.Url : "placeholder-url")" class="flex items-center p-4 w-full border border-gray-600 rounded-[16px] shadow-sm dark:bg-gray-700 mb-4 justify-between" @* data-itemType="sound"  data-type="song"  data-yt-url="@(Model != null ? Model.Url : "placeholder-src")" *@>
    <div class="flex items-center space-x-4 truncate w-[33%]" style="align-items:center;">
        <div class="truncate text-gray-300" id="songName">@(Model != null ? Model.Name : "placeholder-songname")</div>
    </div>
    <div class="flex items-center space-x-2 ml-[-120px]"> @*ml-auto*@
        <div class="audio-player bg-gray-200 dark:bg-gray-700 px-4 ">
            <div data-type="ytContainer" class="audio-player bg-gray-200 dark:bg-gray-700 px-4">
                <div data-type="youtube-player" data-videoid="@videoId" data-queueposition="@queuePosition" id="@(videoId)@(queuePosition)"></div>
            </div>
            <div class="flex items-center gap-4" data-type="controls" data-uniqueId="@(videoId)@(queuePosition)">
                <button class="" data-type="playPauseBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" data-type="play" class="size-6 text-sky-500 hover:text-sky-600" fill="currentColor" viewBox="0 0 384 512">
                        <!--!Font Awesome Free 6.5.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" data-type="pause" class="size-6 text-sky-500 hover:text-sky-600 hidden" fill="currentColor" viewBox="0 0 320 512">
                        <!--!Font Awesome Free 6.5.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z" />
                    </svg>
                </button>
                <input type="range" class="hidden lg:block" data-type="seekSlider" value="0" class="flex-grow">
                <span data-type="currentTime" class="hidden xl:block w-12 text-center">0:00</span>
                <span data-type="duration" class="hidden xl:block w-12 text-center">0:00</span>
            </div>
        </div>

        <div class="ml-auto flex-2 flex items-center space-x-2">
            <button type="button" style="margin-right:16px;" onclick="moveUpInQueue(@(Model != null ? Model.QueuePosition : "placeholder-queueposition"))">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-6 text-blue-500 hover:text-blue-600" fill="currentColor" viewBox="0 0 384 512">
                    <!--!Font Awesome Free 6.5.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M214.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 109.3V480c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128z" />
                </svg>
            </button>
            <button type="button" style="margin-right:16px;" onclick="moveDownInQueue(@(Model != null ? Model.QueuePosition : "placeholder-queueposition"))">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-6 text-blue-500 hover:text-blue-600" fill="currentColor" viewBox="0 0 384 512">
                    <!--!Font Awesome Free 6.5.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M169.4 502.6c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 402.7 224 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 370.7L86.6 329.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128z" />
                </svg>
            </button>
            <button type="button">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-6 text-red-500 hover:text-red-600" onclick="deleteFromQueue(@(Model != null ? Model.QueuePosition : "placeholder-queueposition"))" fill="currentColor" viewBox="0 0 512 512">
                    <!--!Font Awesome Free 6.5.2 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path d="M367.2 412.5L99.5 144.8C77.1 176.1 64 214.5 64 256c0 106 86 192 192 192c41.5 0 79.9-13.1 111.2-35.5zm45.3-45.3C434.9 335.9 448 297.5 448 256c0-106-86-192-192-192c-41.5 0-79.9 13.1-111.2 35.5L412.5 367.2zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z" />
                </svg>
            </button>
        </div>
    </div>
</div>